{% extends "layouts/main.html" %}

{% set pageName = "Help" %}
{% set activeNav = "Help" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Help using Find education provider records
      </h1>

      <p class="govuk-body-l">
        This page provides contact and support information for using Find education provider information.
      </p>

      <h2 class="govuk-heading-l">
        <a href="glossary.html">Glossary</a>
      </h2>
      <p class="govuk-body">
        A glossary of terms used in Find education provider records.
      </p>

      <h2 class="govuk-heading-l">
        <a href="faq.html">Frequently asked questions (FAQs)</a>
      </h2>
      <p class="govuk-body">
        Answers to frequently asked questions about Find education provider records.
      </p>

      <h2 class="govuk-heading-l">
        <a href="guidance.html">Guidance</a>
      </h2>
      <p class="govuk-body">
        Guidance on using Find education provider records.
      </p>

      <h2 class="govuk-heading-l">
        Contact us
      </h2>
      <p class="govuk-body">
        Contact us if you have a question about Find education provider records.
      </p>
      <p class="govuk-body">
        Select 'Find Education Provider records (Edubase)', under 'Details about your request' in this <a href="#">Department for Education service request form</a>.
      </p>

    </div>
  </div>

{% endblock %}
