{% extends "layouts/masthead.html" %}

{% from "node_modules/dfe-frontend/packages/components/card/macro.njk" import card %}

{% set pageName = "Home" %}
{% set activeNav = "Home" %}

{#
  Masthead content is rendered by layouts/masthead.html using these variables.
  No start button on the home page.
#}
{% set mastheadTitle = "Find education provider information" %}
{% set mastheadDescription = "Search and download the Department for Education's official records for education providers, provider groups and governance in England." %}

{% block content %}

  <!-- Inset text - yellow highlight 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-inset-text inset-yellow">
        <h3 class="govuk-notification-banner__heading">
          This service is replacing Get Information About Schools (GIAS)
        </h3>
        <p>You can continue to use GIAS until <span class="govuk-!-font-weight-bold">26 July 2027</span> at <a class="govuk-link" href="#">getinformationaboutschools.service.gov.uk</a>.
        </p>

        <p>
            If you're looking for detailed information about individual schools, use <a class="govuk-link govuk-link--no-visited-state" href="#">School Profiles</a>. The service provides more detailed school information and lets you compare schools.
          </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why is GIAS being replaced?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
            This new service focuses on providing an accurate and authoritative register of education providers, provider groups and governors in England. It has been designed to improve data quality, respond more easily to changes in data and policy requirements, and provide better access to education provider data.
            </p>
            <p>
            People looking for detailed information about individual schools can use School Profiles, which has been designed specifically to meet those needs.
            </p>
          </div>
        </details>
        
      </div>

    </div>
  </div>
-->
  
  <!-- CARDS -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Cards component - see node_modules/dfe-frontend/packages/components/card/macro.njk #}

      <div class="dfe-home-cards">
        {{ card({
          cards: [
            {
              "imageCard": false,
              "imagePath": "",
              "altText": "",
              "headingLevel": "2",
              "linkCard": true,
              "link": "/search",
              "openInNewTab": false,
              "heading": "Search the records",
              "description": "Search official records for education providers, provider groups and governance roles.",
              "meta": ""
            },
            {
              "imageCard": false,
              "imagePath": "",
              "altText": "",
              "headingLevel": "2",
              "linkCard": true,
              "link": "/download",
              "openInNewTab": false,
              "heading": "Download datasets",
              "description": "Download complete datasets for analysis, reporting or for use in your own systems.",
              "meta": ""
            }
          ]
        }) }}
      </div>
    
    </div>
  </div>

  <!-- BREAK -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
    </div>
  </div>

  <!-- RELATED SERVICES -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Related services</h2>

      <h3 class="govuk-heading-m">School Profiles</h3>

      <p class="govuk-body">
        Explore detailed profiles of schools, colleges and other education providers. Compare providers and understand their characteristics, performance and provision.
      </p>
      <p class="govuk-body">
      <a class="govuk-link" href="#">Explore School Profiles (opens in a new tab)</a>.
      </p>

      <h3 class="govuk-heading-m">Ofsted</h3>
      <p class="govuk-body">
        Access inspection reports and inspection information published by Ofsted for schools, colleges and other education providers.
      </p>
      <p class="govuk-body">
      <a class="govuk-link" href="#">View Ofsted inspection reports (opens in a new tab)</a>.
      </p>
    
    </div>
  </div>

  <!-- BREAK -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
    </div>
  </div>

  <!-- REST OF THE UK -->
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Education providers in the rest of the United Kingdom</h2>

      <p class="govuk-body">
        Find information about education providers outside England.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.education-ni.gov.uk/">Northern Ireland Department of Education (opens in a new tab)</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://education.gov.scot/">Education Scotland (Opens in a new tab)</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.wales/education-skills">Wales Education Directorate (Opens in a new tab)</a>
      </p>

    </div>

  </div>

{% endblock %}
